<div class="row">
    <div class="col-12">
        <table
                class="body-wrap"
                style="
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        box-sizing: border-box;
        font-size: 14px;
        width: 100%;
        background-color: transparent;
        margin: 0;
      "
        >
            <tr
                    style="
          font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
          box-sizing: border-box;
          font-size: 14px;
          margin: 0;
        "
            >
                <td
                        style="
            font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
            box-sizing: border-box;
            font-size: 14px;
            vertical-align: top;
            margin: 0;
          "
                        valign="top"
                ></td>
                <td
                        class="container"
                        style="
            font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
            box-sizing: border-box;
            font-size: 14px;
            vertical-align: top;
            display: block !important;
            max-width: 600px !important;
            clear: both !important;
            margin: 0 auto;
          "
                        valign="top"
                        width="600"
                >
                    <div
                            class="content"
                            style="
              font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
              box-sizing: border-box;
              font-size: 14px;
              max-width: 600px;
              display: block;
              margin: 0 auto;
              padding: 20px;
            "
                    >
                        <table
                                cellpadding="0"
                                cellspacing="0"
                                class="main"
                                itemprop="action"
                                itemscope
                                itemtype="http://schema.org/ConfirmAction"
                                style="
                font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
                box-sizing: border-box;
                font-size: 14px;
                border-radius: 3px;
                margin: 0;
                border: none;
              "
                                width="100%"
                        >
                            <tr
                                    style="
                  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
                  box-sizing: border-box;
                  font-size: 14px;
                  margin: 0;
                "
                            >
                                <td
                                        class="content-wrap"
                                        style="
                    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
                    box-sizing: border-box;
                    color: #495057;
                    font-size: 14px;
                    vertical-align: top;
                    margin: 0;
                    padding: 30px;
                    box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.03);
                    border-radius: 7px;
                    background-color: #fff;
                  "
                                        valign="top"
                                >
                                    <meta
                                            content="Confirm Email"
                                            itemprop="name"
                                            style="
                      font-family: 'Helvetica Neue', Helvetica, Arial,
                        sans-serif;
                      box-sizing: border-box;
                      font-size: 14px;
                      margin: 0;
                    "
                                    />
                                    <table
                                            cellpadding="0"
                                            cellspacing="0"
                                            style="
                      font-family: 'Helvetica Neue', Helvetica, Arial,
                        sans-serif;
                      box-sizing: border-box;
                      font-size: 14px;
                      margin: 0;
                    "
                                            width="100%"
                                    >
                                        <tr
                                                style="
                        font-family: 'Helvetica Neue', Helvetica, Arial,
                          sans-serif;
                        box-sizing: border-box;
                        font-size: 14px;
                        margin: 0;
                      "
                                        >
                                            <td
                                                    class="content-block"
                                                    style="
                          font-family: 'Helvetica Neue', Helvetica, Arial,
                            sans-serif;
                          box-sizing: border-box;
                          font-size: 14px;
                          vertical-align: top;
                          margin: 0;
                          padding: 0 0 20px;
                        "
                                                    valign="top"
                                            >
                                                <h1>Hello {FullName}.</h1>
                                            </td>
                                        </tr>
                                        <tr
                                                style="
                        font-family: 'Helvetica Neue', Helvetica, Arial,
                          sans-serif;
                        box-sizing: border-box;
                        font-size: 14px;
                        margin: 0;
                      "
                                        >
                                            <td
                                                    class="content-block"
                                                    style="
                          font-family: 'Helvetica Neue', Helvetica, Arial,
                            sans-serif;
                          box-sizing: border-box;
                          font-size: 14px;
                          vertical-align: top;
                          margin: 0;
                          padding: 0 0 20px;
                        "
                                                    valign="top"
                                            >
                                                <h3>Please accept or reject our proposal.</h3>
                                            </td>
                                        </tr>
                                        <tr
                                                style="
                        font-family: 'Helvetica Neue', Helvetica, Arial,
                          sans-serif;
                        box-sizing: border-box;
                        font-size: 14px;
                        margin: 0;
                      "
                                        >
                                            <td
                                                    class="content-block"
                                                    style="
                          font-family: 'Helvetica Neue', Helvetica, Arial,
                            sans-serif;
                          box-sizing: border-box;
                          font-size: 14px;
                          vertical-align: top;
                          margin: 0;
                          padding: 0 0 20px;
                        "
                                                    valign="top"
                                            >
                                                {Description}
                                                <br/>
                                                <br/>

                                                Your services was estimated to:
                                                <b>{PriceValue} {PriceCurrency}</b>
                                            </td>
                                        </tr>
                                        <tr
                                                style="
                        font-family: 'Helvetica Neue', Helvetica, Arial,
                          sans-serif;
                        box-sizing: border-box;
                        font-size: 14px;
                        margin: 0;
                      "
                                        >
                                            <td
                                                    class="content-block"
                                                    itemprop="handler"
                                                    itemscope
                                                    itemtype="http://schema.org/HttpActionHandler"
                                                    style="
                          font-family: 'Helvetica Neue', Helvetica, Arial,
                            sans-serif;
                          box-sizing: border-box;
                          font-size: 14px;
                          vertical-align: top;
                          margin: 0;
                          padding: 0 0 20px;
                        "
                                                    valign="top"
                                            >
                                                <a
                                                        href="{AcceptLink}"
                                                        itemprop="url"
                                                        style="
                            font-family: 'Helvetica Neue', Helvetica, Arial,
                              sans-serif;
                            box-sizing: border-box;
                            font-size: 14px;
                            color: #fff;
                            text-decoration: none;
                            line-height: 2em;
                            font-weight: bold;
                            text-align: center;
                            cursor: pointer;
                            display: inline-block;
                            border-radius: 5px;
                            text-transform: capitalize;
                            background-color: #34c38f;
                            margin: 0;
                            border-color: #34c38f;
                            border-style: solid;
                            border-width: 8px 16px;
                          "
                                                >Accept</a
                                                >

                                                <a
                                                        href="{RejectLink}"
                                                        itemprop="url"
                                                        style="
                            font-family: 'Helvetica Neue', Helvetica, Arial,
                              sans-serif;
                            box-sizing: border-box;
                            font-size: 14px;
                            color: #fff;
                            text-decoration: none;
                            line-height: 2em;
                            font-weight: bold;
                            text-align: center;
                            cursor: pointer;
                            display: inline-block;
                            border-radius: 5px;
                            text-transform: capitalize;
                            background-color: #c33434;
                            margin: 0;
                            border-color: #c33434;
                            border-style: solid;
                            border-width: 8px 16px;
                          "
                                                >Reject</a
                                                >
                                            </td>
                                        </tr>
                                        <tr
                                                style="
                        font-family: 'Helvetica Neue', Helvetica, Arial,
                          sans-serif;
                        box-sizing: border-box;
                        font-size: 14px;
                        margin: 0;
                      "
                                        >
                                            <td
                                                    class="content-block"
                                                    style="
                          font-family: 'Helvetica Neue', Helvetica, Arial,
                            sans-serif;
                          box-sizing: border-box;
                          font-size: 14px;
                          vertical-align: top;
                          margin: 0;
                          padding: 0 0 20px;
                        "
                                                    valign="top"
                                            >
                                                <b>Estimation Tool</b>
                                                <p>Dream Team</p>
                                            </td>
                                        </tr>

                                        <tr
                                                style="
                        font-family: 'Helvetica Neue', Helvetica, Arial,
                          sans-serif;
                        box-sizing: border-box;
                        font-size: 14px;
                        margin: 0;
                      "
                                        >
                                            <td
                                                    class="content-block"
                                                    style="
                          text-align: center;
                          font-family: 'Helvetica Neue', Helvetica, Arial,
                            sans-serif;
                          box-sizing: border-box;
                          font-size: 14px;
                          vertical-align: top;
                          margin: 0;
                          padding: 0;
                        "
                                                    valign="top"
                                            >
                                                © 2021 Estimation Tool
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
        </table>
        <!-- end table -->
    </div>
</div>
<!-- end row -->
